/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

/* Estilos para el contenedor del formulario */
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 10px;
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para los campos del formulario */
.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 10px;
}

/* Estilos para los botones */
.button {
    grid-column: 1 / -1;
    text-align: center;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 600px) {
   .container {
        grid-template-columns: 1fr;
    }
}

/* Estilos para pantallas grandes */
@media (min-width: 601px) {
   .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Estilos para los campos del formulario */
.field label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.field input,
.field textarea,
.field select {
    font-size: 14px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.field input:focus,
.field textarea:focus,
.field select:focus {
    border: 1px solid #4CAF50;
    outline: none;
}

/* Estilos para los botones */
.button:hover {
    background-color: #45a049;
}

/* Estilos generales Menu */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

/* Estilos para el menú */
header {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #4CAF50;
    border-radius: 5px;
}